<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><h2>Total Revenue</h2></div>
  <div class="card-body">
    <p class="card-text"><h4>Total price: <%= @total_price_revenue %></h4></p>
      <h4>Total quantity: <%= @total_quantity_revenue %></h4>
  </div>
</div>